# Node.js dependencies
node_modules/
npm-debug.log*

# Logs
logs/
*.log
yarn-error.log
yarn-debug.log

# Database & Credentials
.env
config.env
database.sqlite
debug.log

# Build files (אם בטעות תיצור build לשרת)
dist/

# Editor files
.vscode/
.idea/
.DS_Store
